.calculator {
  position:fixed;
  top:50%;
  left:40%;
  transform: translateY(-50%);

  width: 400px;
  height: 700px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  7px 7px 14px #b3b3b3,
               -7px -7px 14px #ffffff;
}

.brand {
  color: #2B2D42;
  width: 30%;
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  inset 2px 2px 10px #afafaf,
               inset -2px -2px 10px #ffffff;
}
.screen {
  display:flex;
  justify-content: flex-end;
  font-size:4.5rem;
  letter-spacing: 0.35rem;
  width: 80%;
  height: 20%;
  margin:auto;
  margin-top: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #bebebe,
              inset -5px -5px 10px #ffffff;
}

.container {
  margin: auto;
  width: 80%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.7rem;

}

.grid-item {
  font-size: x-large;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 30%;
  background: #e0e0e0;
  box-shadow:  7px 7px 14px #b3b3b3,
               -7px -7px 14px #ffffff;
}

.blue {
  background-color:#2B2D42;
  color: white;
}

.light-blue {
  background-color:#92dce5 ;
}

.double {
  width: 9rem;
  grid-column: 1 / span 2;
  border-radius: 0.8rem;
}

.wrap {
  top: 200px;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  word-wrap: break-word;
  overflow: hidden;
}
